<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <style type="text/css">{{ stylesheet }}</style>
  {{#if redirect }}
     <meta http-equiv="refresh" content="{{ redirectTime }}; URL='{{ redirectUrl }}'" />
  {{/if}}
</head>

<body>
  <h1>Welcome to {{ domain }}</h1>
</body>
</html>
